@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap");

.margin-top {
  margin-top: 20px;
}

.filebox label {
  display: inline-block;
  width: 100%;
}

.filebox input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.common_btn {
  text-decoration: none;
}

.common_btn > p {
  cursor: pointer;
  border-radius: 15px;
  margin-top: 20px;
  text-align: center;
  background-color: white;
  line-height: 50px;
  border: 2px solid #bbb;
  width: 100%;
  color: black;
  font-size: 14px;
  font-weight: bold;
  transition: 0.3s ease-in-out;
}

.common_btn > p:hover {
  box-shadow: 0 0 10px #bbb;
}

hr {
  height: 0.6px;
  border-radius: 0.3px;
  margin: 20px 0px;
  background-color: grey;
  border: none;
  display: none;
}

.main_wrapper {
  width: 100%;
  text-align: center;
}

.form_wrapper {
  box-sizing: border-box;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 0 20px #ddd;
  width: 500px;
  max-width: 100%;
  text-align: start;
  margin: auto;
  margin-top: 40px;
}

body {
  padding: 0;
  margin: 0;
  background-color: #eee;
  font-family: "Noto Sans KR", sans-serif;
}

input {
  font-family: "Noto Sans KR", sans-serif;
}

p {
  margin: 0;
  padding: 0;
}

.title {
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
}

table {
  
}